:root {
	--bg: #22272E;
	--fg: #cdd9e5;
	--input-border: #444c56;
	--slider-bg: #ccc;
	/* --slider-fg:  */
	--slider-scale: 0.8;
	--darkmodetoggleimage: url('images/light_mode.svg');
	--stepper-radius: 5px;

	--segmented-radius: 5px;
	/* change these and for light mode */
	--segmented-border: #444c56;
	--segmented-bg: #444c56;
	--segmented-height: 40px;
}

[data-theme="light"] {
	--bg: #fefefe;
	--fg: #444;
	--input-border: #444c56;
	--darkmodetoggleimage: url('images/dark_mode.svg');
}

body {
	font-family: sans-serif;
	background-color: var(--bg);
	color: var(--fg);
	margin: 0;
	transition: 0.3s;
}

/* HEADER */
nav.header {
	background: #47565c;
	padding: 0.3em 0.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
a#darkmodetoggle {
	width: 24px;
	height: 24px;
	background-image: var(--darkmodetoggleimage);
	background-repeat: no-repeat;
	transition: 0.3s;
}

section.content {
	margin: 1em 1.5em;
}

label {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
	display: block;
	color: rgb(107 114 128);
}

input {
	padding: 8px 16px;
	border: 1px solid var(--input-border);
	background-color: var(--bg);
	color: var(--fg);
	/* border-radius: 4px; */
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input.submit {
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s;
}
input.submit:hover {
	background-color: #444c56;
}

/* INPUT */
input[type="text"] {
	border-radius: 4px;
}

/* STEPPERS */

div.stepper_container {
	display: flex;
}

button.stepper_button {
	display: inline-block;
	margin: 0;
	cursor: pointer;
	padding: 7px 10px 8px;
	background-color: var(--bg);
	color: var(--fg);
	border: 1px solid var(--input-border);
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

button.stepper_button_minus {
	border-right: 0;
	border-radius: var(--stepper-radius) 0 0 var(--stepper-radius);
}

button.stepper_button_plus {
	border-left: 0;
	border-radius: 0 var(--stepper-radius) var(--stepper-radius) 0;
}

input.stepper_input {
	margin: 0;
	border: 1px solid var(--input-border);
	width: 20px;
}

/* SLIDER */
	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: calc(60px * var(--slider-scale));
		height: calc(34px * var(--slider-scale));
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--slider-bg);
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: calc(26px * var(--slider-scale));
		width: calc(26px * var(--slider-scale));
		left: calc(4px * var(--slider-scale));
		bottom: calc(4px * var(--slider-scale));
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		background-color: #2196F3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(calc(26px * var(--slider-scale)));
		-ms-transform: translateX(calc(26px * var(--slider-scale)));
		transform: translateX(calc(26px * var(--slider-scale)));
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: calc(34px * var(--slider-scale));
	}

	.slider.round:before {
		border-radius: 50%;
	} 

/* remove arrows from steppers */

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}