{% extends 'base.html' %}

<!-- macros -->

{% macro build_input(entry) %}
	<label for="{{ entry.id }}">{{ entry.name }}</label>
	<input type="{{ entry.options['type'] }}" id="{{ entry.id }}" name="{{ entry.id }}" {% if entry.options['required'] %}required{% endif %} />
{% endmacro %}

{% macro build_dropdown(entry) %}
	<p>{{ entry.name }}</p>
{% endmacro %}

{% macro build_stepper(entry) %}
	<label for="{{ entry.id }}">{{ entry.name }}</label>
	<div class="stepper_container">
		<button type="button" class="stepper_button stepper_button_minus" onclick="decrement('{{ entry.id }}')">-</button>
		<input class="stepper_input" id="{{ entry.id }}" name="{{ entry.id }}" type="number" value="0" min="0">
		<button type="button" class="stepper_button stepper_button_plus" onclick="increment('{{ entry.id }}')">+</button>
	</div>
{% endmacro %}

{% macro build_switch(entry) %}
	<label for="{{ entry.id }}">{{ entry.name }}</label>
	<!-- NOTE: nothing is passed to POST if not checked -->
	<label class="switch">
		<input id="{{ entry.id }}" name="{{ entry.id }}" type="checkbox">
		<span class="slider round"></span>
	</label>
{% endmacro %}

{% macro build_segmented(entry) %}
	<label>{{ entry.name }}</label>
	<div id="{{ entry.id }}_segmented">
		{% for i in range(entry.options['choices'] | length) %}
		<input id="{{ entry.id }}_rad{{ i }}" type="radio" name="{{ entry.id }}" value="{{ entry.options.choices[i] }}" {% if i == 0 %}checked{% endif%}>
		<label class="segmented_label" for="{{ entry.id }}_rad{{ i }}">{{ entry.options['choices'][i] }}</label>
		{% endfor %}
		<div id="{{ entry.id }}_segmented_background"></div>
	</div>

	<!-- css -->
	<style>
		/* TODO: Display vertically on small screens translateY() */
		#{{ entry.id }}_segmented {
			position: relative;
			z-index: 5;
			border: 1px solid var(--segmented-border);
			border-radius: var(--segmented-radius);
			display: inline-flex;
		}
		#{{ entry.id }}_segmented input {
			display: none;
		}
		#{{ entry.id }}_segmented_background,
		.segmented_label {
			width: {{ entry.options['width'] }}px;
			height: var(--segmented-height);
			text-align: center;
			display: inline-block;
		}
		.segmented_label {
			margin-bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		#{{ entry.id }}_segmented_background {
			background-color: var(--segmented-bg);
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: {{ entry.options['width'] }}px;

		}
		{% for i in range(entry.options['choices'] | length) %}
		#{{ entry.id }}_rad{{ i }}:checked ~ #{{ entry.id }}_segmented_background {
			transform: translateX({{ entry.options['width'] * i}}px);
			transition: transform 0.5s ease-in-out;
			{% if i == 0 %}
			border-radius: var(--segmented-radius) 0 0 var(--segmented-radius);
			{% endif %}
			{% if i == (entry.options['choices'] | length) - 1 %}
			border-radius: 0 var(--segmented-radius) var(--segmented-radius) 0;
			{% endif %}
		}
		{% endfor %}
	</style>
{% endmacro %}

<!-- content -->

{% block title %}Scouting{% endblock %}

{% block content %}
	<form name="scouting" action="/submit" onsubmit="return validateForm()" method="post">
		<div id="scouting_form">
			{% for section in entries %}
				<h3>{{ section.name }}</h3>
				{% for entry in section.entries %}
					<p class="error" id="{{ entry.id }}_error"></p> <!-- to be used by form validation-->
					{% if entry.type == "input" %}
						{{ build_input(entry) }}
					{% elif entry.type == "dropdown" %}
						{{ build_dropdown(entry) }}
					{% elif entry.type == "stepper" %}
						{{ build_stepper(entry) }}
					{% elif entry.type == "segmented" %}
						{{ build_segmented(entry) }}
					{% elif entry.type == "switch" %}
						{{ build_switch(entry) }}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
		<input type="submit" value="Submit" class="submit">
	</form>

<!-- Steppers
Usage:
	<button onclick="increment()">+</button>
	<button onclick="decrement()">-</button>
-->

<script>
	function increment(stepperId) {
		console.log(stepperId);
		document.getElementById(stepperId).stepUp();
	}
	function decrement(stepperId) {
		document.getElementById(stepperId).stepDown();
	}
</script>

<script>
	function validateForm() {
		const teamNumber = document.forms['scouting']['Team_Number'].value;
		if (teamNumber == "" || isNan(teamNumber) || parseInt(teamNumber) < 0) {}
	}
</script>


{% endblock %}

